<div id="<%= dom_id vanue %>">
  <p>
    <strong>Name:</strong>
    <%= vanue.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vanue.description %>
  </p>

  <p>
    <strong>Rows:</strong>
    <%= vanue.rows %>
  </p>

  <p>
    <strong>Seats per row:</strong>
    <%= vanue.seats_per_row %>
  </p>

</div>
