<div id="<%= dom_id concert %>">
  <p>
    <strong>Name:</strong>
    <%= concert.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= concert.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= concert.start_time %>
  </p>

  <p>
    <strong>Vanue:</strong>
    <%= concert.vanue_id %>
  </p>

  <p>
    <strong>Genre tags:</strong>
    <%= concert.genre_tags %>
  </p>

  <p>
    <strong>Ilk:</strong>
    <%= concert.ilk %>
  </p>

  <p>
    <strong>Access:</strong>
    <%= concert.access %>
  </p>

</div>
